<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}TwigPlus{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
